{% extends 'base.html.twig' %}

{% block title %}Détails du compte-rendu
{% endblock %}

{% block content %}
	<div class="bg-gray-300 m-10 border-2 border-gray-500 flex justify-center">

		<div class="bg-white border-2 border-gray-400 w-1/2 m-5">
			<div class="m-5">
				<h5 class="text-xl text-indigo-500 flex justify-center">
					Compte rendu num :
					{{ rapport.id }}
				</h5>
				<p>
					<span class="text-indigo-500">Nom :
					</span>
					{{ rapport.visiteur.nom }}
				</p>
				<p>
					<span class="text-indigo-500">Ville :</span>
					{{ rapport.visiteur.praticien.ville }}
				</p>
				<p>
					<span class="text-indigo-500">Date Visite :</span>
					{{ rapport.datevisite }}
				</p>
				<p>
					<span class="text-indigo-500">Date Rédaction :</span>
					{{ rapport.daterapport }}
				</p>
				<p>
					<span class="text-indigo-500">Coefficients de confiance :</span>
					{{ rapport.visiteur.praticien.coefnotoriete }}
				</p>
				<p>
					<span class="text-indigo-500">Bilan :</span>
					<br>
					{{ rapport.bilan }}
				</p>
			</div>
		</div>

	</div>
{% endblock %}
